{% assign contentMenuItem = Model.ContentItem.Content.ContentMenuItemPart %}

<a class="nav-link js-scroll-trigger" href="{{ contentMenuItem.SelectedContentItem.ContentItemIds.first | display_url }}">{{ contentMenuItem.Name }}</a>
